<!-- 
<h1>Welcome <%= @user.name %></h1>
<p>
  This is a welcome email!
</p> -->

<!DOCTYPE html>
<html>
<head>
  <title>Welcome <%= @user.name %></title>
</head>
<body>
  <h1>Welcome, <%= @user.name %>!</h1>
  <p>This is your login page , root path  </p>
  Hello <%= @resource.name %>!
</body>
</html>