

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    @user = User.first
    UsersMailer.welcome_email(@user.email).deliver_later
<!-- or -->
<!-- UsersMailer.welcome_email(user.email).deliver_now -->


    <h1>Hi <%= @user.name %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>