<div class="container">
    <div class="row">
      <div class="span9"></div>
      <div class="span3">
        <h2>About Us</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>


 <!--  <%#= line_chart User.group_by_day(:created_at).count %> -->
  <h1>Users</h1>
   < line_chart charts_new_users_path >

  <h1>By Month</h1>
   < line_chart charts_by_month_users_path >

