<!DOCTYPE html>
<html>
<head>
  <title>Currency Converter</title>
</head>
<body>
    <h1><strong>Buy BTC</strong></h1>

  <form action="/">
    <label>INR: </label>
  <input type="number" name="Indian rupees" placeholder="inr" ><br><br>
  <label>BTC:</label>
  <input type="number" name="Bit corrency" placeholder="btc">

  <input type="submit">
</form>

</body>
</html>