
 <!-- <h1><%#= current_user.email %>, Graph</h1> -->
<!-- <div id="container_chart"></div><br> -->


<h1>Wallet</h1>

<table>
  <thead>
    <tr>
      <th>BTC Balance</th>
      <th>INR Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @wallets.each do |w| %>
      <tr>
        <td><%= w.btc_balance %></td>
        <td><%= w.inr_balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'buy_btc', buy_btc_path %>

<!-- ========= -->

<!-- styles for this page --><!-- 
<link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css"> -->

<style type="text/css">
    /* high chart styles */
    #container_chart {
      height: 400px;
      margin: 0 auto;
      min-width: 310px; 

      border-width: 1px;
      border-style: dotted;
      border-color: black;
    }
    .highcharts-title {
        fill: #434348;
        font-weight: bold;
        letter-spacing: 0.3em;
        font-size: 3em;
    }
    /* End high chart styles*/
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  table {
    padding: 1px auto; 
    margin :auto;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th{
    background-color:  #00f29f;
  }
tr:nth-child(even) {background-color:lightgray;}
</style>



<!-- JS libraries end -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
   -->
<!-- custom JS -->
 <!--  <script>
   $(function () { 
        var myChart = Highcharts.chart('container_chart', {
            chart: { 
              // zoomType: 'x'
              type: 'column'
            },
            title: {
              text: '<%= current_user.first_name.capitalize%>,Graph based on Currency Types'
            },
            xAxis: {
              title: { text: 'No. of Transactions' }
               // categories: ['inr', 'btc']
              // crosshair: true
            },
            yAxis: {
              // min: 0,
              categories: <%#= TransactionHistory.ids.count %>,
              title: { text: 'TransactionHistory count' }
            },
            tooltip: {
              formatter: function() {
              return 'count : <b>' + this.x + ',<br> </b>'+this.series.name +' id: <b>' + this.y + '</b>';
              },
              backgroundColor: '#FCFFC5',
              borderColor: 'black',
              borderRadius: 10,
              borderWidth: 3
            },
            plotOptions: {
              column: { borderRadius: 5 },
              series: {
                label: { connectorAllowed: false },
                pointStart: 1
              }
            },
            series: [ 
              {
                name: 'currency_type: inr',
                data: <%#= TransactionHistory.where("currency_type = 'inr' AND user_id = ?",current_user.id).ids %>
              },
              {
                name: 'currency_type: btc',
                data: <%#= TransactionHistory.where("currency_type = 'btc' AND user_id = ?",current_user.id).ids %>
              }
            ],
            responsive: {
              rules: [{
                condition: { maxWidth: 500 },
                chartOptions: {
                  legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                  }
                }
              }]
            }
        });//high chart end
    });//function end
  </script> -->