<p id="notice"><%= notice %></p>


<!-- <p><strong>BTC: </strong>
  <%#= @wallet.btc_balance%>
</p> -->

<!-- <p><strong>INR: </strong>
  <%#= @wallet.inr_balance%>
</p> -->

<%#= link_to 'Buy', new_wallet_path(@wallet), method: :patch, remote: true %>

<!-- <%#= link_to 'Edit', edit_wallet_path(@wallet) %> | -->
<%#= link_to 'Back', wallets_path %>



<%= render 'wallet', wallet: @wallet %>


<%= link_to 'Back', wallets_path %>
